<nav>
    <div class="site-title">
      <a href="/"><h1>Interview-exp</h1></a>
      <p>An interview experience sharing platform</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>
  </nav>